body{
    
color: rgb(0, 128, 0);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#dsss{
    color: darkorange;
}

.click{
text-decoration: none;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
bottom: 1px solid red;
color: black;
padding: 2px;
border-radius: 5px;

}
.click:hover{

background-color: brown;
color: aliceblue;

font-size: 50px

}




